<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.web.webserver.mapper.SessorDataMapper">
   <insert id="insertSessorData" parameterType="com.zy.web.webserver.bean.SessorData">
        insert into sessordata values (#{Id}, #{Datetime}, #{Type}, #{Addr}, #{Value}, #{Ip})
    </insert>
</mapper>